.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.circle {
	width: 28px;
	height: 28px;
	border-radius: 10px;
	border: 1px solid #ced4da;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
	cursor: pointer;
}

.circle.checked {
	border: 1px solid #5468ff;
	color: #5468ff;
}

.text {
	font-size: 20px;
}

.text.completed {
	text-decoration: line-through;
	color: rgb(185, 185, 185);
}

.content {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn_edit,
.btn_delete {
	font-size: 24px;
	color: #25252550;
	border: none;
	background: transparent;
	transition: all 0.2s ease-in;
	cursor: pointer;
}

.btn_edit:hover,
.btn_delete:hover {
	color: #252525;
	transform: scale(1.2);
}
